#!/bin/bash

set -e

WORKING_DIR=/home/{{ansible_user}}/ssl
mkdir -p ${WORKING_DIR}

PASSWORD=$(openssl rand -base64 32)
SUBJ="/C=US/ST=somewhere/L=someplace/O=haproxy/OU=haproxy/CN=*.{{app_domain_name}}"

KEY=${WORKING_DIR}/{{app_domain_name}}.key.pem
CERT=${WORKING_DIR}/{{app_domain_name}}.cert.pem
CSR=${WORKING_DIR}/{{app_domain_name}}.csr

DEFAULT_PEM_DIR=/etc/ssl/{{app_domain_name}}
DEFAULT_PEM_FILE=${DEFAULT_PEM_DIR}/{{app_domain_name}}.pem

# Check if cert has been created
if [ ! -e ${DEFAULT_PEM_FILE} ]; then
  mkdir -p ${DEFAULT_PEM_DIR} &> /dev/null
  openssl genrsa -des3 -passout pass:${PASSWORD} -out ${KEY} 2048 &> /dev/null
  openssl req -new -key ${KEY} -passin pass:${PASSWORD} -out ${CSR} -subj ${SUBJ} &> /dev/null
  cp ${KEY} ${KEY}.org &> /dev/null
  openssl rsa -in ${KEY}.org -passin pass:${PASSWORD} -out ${KEY} &> /dev/null
  openssl x509 -req -days 3650 -in ${CSR} -signkey ${KEY} -out ${CERT} &> /dev/null
  cat ${CERT} ${KEY} > ${DEFAULT_PEM_FILE}
  echo ${PASSWORD} > ${WORKING_DIR}/{{app_domain_name}}.password.txt
fi
